.navbar {
  
  /*height: 80px;*/
  /*display: flex;*/
  /*margin-left: auto;*/
  /*justify-content: end;*/
  align-items: center;
  
}

@media screen and (max-width: 340px) {
  #account{
    display: none;
  }
}

@media screen and (max-width: 426px) {
.navbar .navbar-brand.name, #name {
display: none;
}
}

@media screen and (min-width: 426px) {
  .navbar .navbar-brand.name, #name {
  display: contents;
  }
  }
  


@media screen and (max-width: 767px) {
 .search{
  order: 3;
  width: 95.666667%;
 }

}

nav , .navbar{
  display: flex;
  flex-wrap: inherit;
}


FaIcons.FaUser {
  margin-top: -10px;

}
.menu-bars {
  margin-right: 0.5rem;
  font-size: 2rem;
  background: none;
  margin-left: auto;
  margin-top: -10px;
}

.nav-menu {
  background-color: white;
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0%;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-item.show.dropdown {
  
  background-color: rgba(0,0,0,0.4);
  
} 

.nav-text a {
  text-decoration: none;
  color: #1a2553;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #283183;
  color: #ffffff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}